---
permalink: index.html
eleventyComputed:
  title: '<%= site.title %>'
---

<div x-data="{
    kalenderData: kalender.cleanKalender(),
    abfuhrTypMap: kalender.abfuhrTypMap,
    queryDates: new queryDates(),
  }">
  <h2>Abfuhren nach Typ</h2>
  <template x-for="[abfuhrTyp, abfuhrTage] in Object.entries(kalenderData[queryDates.dieserMonat()])">
    <div class="p-5 border-2 border-r-2" :class="'border-' + abfuhrTypMap[abfuhrTyp] + '-400'">
        <h3 x-text="abfuhrTyp"></h3>
          <template x-for="abfuhr in abfuhrTage">
            <div>
              <template x-for="[tag, bezirke] in Object.entries(abfuhr)">
                <div>
                  <span x-text="queryDates.formatDate(queryDates.newDateFromDayAndMonth(tag, queryDates.dieserMonat()), 'dd.MM.')"></span>
                  <span x-text="bezirke.length > 1 ? 'Bezirke: ' : 'Bezirk: '"></span>
                  <template x-for="bezirk in bezirke">
                    <span x-text="bezirk"></span>
                  </template>
                </div>
              </template>
            </div>
          </template>
    </div>
  </template>
</div>
